.container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.container__image {

  img {
    border-radius: 1rem;
    max-width: 100%;
  }
}

.container__details {}

.details__title {
  color: var(--highlight-color);
  font-size: 2rem;
}

.details__answers {
  color: var(--highlight-color);
  font-size: 1.5rem;
  font-weight: bold;

}

.details__choices {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
}

.details__choice {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  border-radius: .5rem;
  background-color: var(--primary-color);
  color: var(--highlight-color);

  &:hover {
    box-shadow: 1px 1px 3px var(--shadow-color);
    background-color: var(--shadow-color);
  }

  &:focus {
    color: var(--primary-color);
    background-color: var(--highlight-color);
  }
}
.container__share {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.share__cta {
  font-size: 1.5rem;
  color: var(--highlight-color);
  border: none;
  background-color: transparent;
  outline: none;

  &:hover {
    text-shadow: 1px 1px 1px var(--shadow-color);
  }
}
